node_modules/
dist/
dist-ssr/
release/
*.bun-build
*.local

.vscode/*
!.vscode/extensions.json
.idea

*.log
npm-debug.log*

.DS_Store

*.tsbuildinfo

# Local browser profiles created by compatibility smoke tests.
.tmp-*-ograf/
